# Q1- Q4

In [1]:
from scipy.io import loadmat
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import Lasso

In [2]:
#importing the training set
train = loadmat('2010rainfall.mat')
train.keys()

dict_keys(['__header__', '__version__', '__globals__', 'XR1', 'ZR1'])

In [3]:
days=[]
for i in range(len(train['XR1'][0])):
    days.append(i+1)
len(days)

122

In [4]:
empty=[]
location=[]
for i in range(len(train['XR1'])):
    location.append(i+1)
    empty.append(0)
len(location)

357

In [5]:
df=pd.DataFrame(data=train['XR1'],index=location,columns=days)
df.insert(0,'-1',empty,True)
df.insert(0,'-2',empty,True)
df

,-2,-1,1,2,3,4,5,6,7,8,...,113,114,115,116,117,118,119,120,121,122
1,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,13.246254,67.325218,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
2,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,13.200000,67.599998,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
3,0,0,0.000000,0.467299,10.927622,0.000000,0.000000,18.999964,27.752983,2.414766,...,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
4,0,0,0.000000,0.469477,6.805963,0.000000,0.000000,23.731779,33.303631,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.170385
5,0,0,0.000000,0.000000,6.611897,0.000000,0.000000,10.257844,56.923618,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.543626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,0,0,15.400000,22.299999,3.600000,18.700003,5.200000,34.400005,11.800001,9.900000,...,0.200000,0.0,0.1,52.299999,0.0,44.599998,28.000002,1.700000,1.700000,0.000000
354,0,0,10.266666,14.866666,2.400000,12.466667,3.466666,22.933334,7.866667,6.600000,...,0.133333,0.0,0.0,34.866665,0.0,29.733332,18.666666,1.133333,1.133333,0.000000
355,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
356,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
357,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000

In [6]:
test = loadmat('2011rainfall.mat')
test.keys()

dict_keys(['__header__', '__version__', '__globals__', 'XR', 'ZR'])

In [7]:
test_days=[]
for i in range(len(test['XR'][0])):
    test_days.append(i+1)

test_location=[]
for i in range(len(test['XR'])):
    test_location.append(i+1)
test_df=pd.DataFrame(data=test['XR'],index=test_location,columns=test_days)
test_df.insert(0,'-1',empty,True)
test_df.insert(0,'-2',empty,True)
test_df

,-2,-1,1,2,3,4,5,6,7,8,...,113,114,115,116,117,118,119,120,121,122
1,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
2,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
3,0,0,0.000000,0.000000,0.000000,21.500555,0.000000,0.000000,0.0,0.000000,...,0.00000,0.000000,0.0,1.563111,0.000000,0.000000,0.000000,0.000000,0.0,0.0
4,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
5,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.00000,0.000000,0.0,0.588105,0.000000,0.000000,0.000000,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,0,0,34.099937,12.399961,17.000019,68.500015,6.099988,20.499962,0.0,26.000074,...,1.10002,1.500014,0.0,16.000111,22.800007,15.899967,0.199999,0.999997,0.0,0.0
354,0,0,34.099998,12.400000,16.999998,68.500000,6.100000,20.500000,0.0,26.000000,...,1.10000,1.500000,0.0,16.000000,22.799999,15.900000,0.200000,1.000000,0.0,0.0
355,0,0,34.099998,12.400000,17.000000,68.500000,6.099999,20.500000,0.0,26.000000,...,1.10000,1.500000,0.0,16.000000,22.799999,15.900000,0.200000,1.000000,0.0,0.0
356,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
357,0,0,17.049999,6.200000,8.499999,34.250000,3.050000,10.250000,0.0,13.000000,...,0.55000,0.750000,0.0,8.000000,11.400000,7.950000,0.100000,0.500000,0.0,0.0

In [8]:
req_location = { 42 : "Mumbai", 158 : "Delhi", 299 : "Kharagpur" }

for s in req_location:
    y_train=np.array(df.iloc[s-1,2:].T)
    x_train=df.drop([s-1]).iloc[:,2:].values
    prev1 = df.iloc[s,1:123].values
    prev2 = df.iloc[s,0:122].values
    
    x_train = np.vstack((x_train,prev1))
    x_train = np.vstack((x_train,prev2))
    
    reg=LinearRegression() 
    reg.fit(x_train.T,y_train)
    
    
    y_test = np.array(test_df.iloc[s-1,2:].T)
    x_test = test_df.drop([s-1]).iloc[:,2:].values
    prev1 = test_df.iloc[s,1:123].values
    prev2 = test_df.iloc[s,0:122].values
    
    x_test = np.vstack((x_test,prev1))
    x_test = np.vstack((x_test,prev2))
    
    prediction = reg.predict(x_test.T)

    print('Mean squared error for {} is {} '.format(req_location[s],mean_squared_error(y_test, prediction , squared=True)))

Mean squared error for Mumbai is 56.34345045022043
Mean squared error for Delhi is 76.99945931498182
Mean squared error for Kharagpur is 69.12278328703535

In [9]:
for s in req_location:
    y_train=np.array(df.iloc[s-1,2:].T)
    x_train=df.drop([s-1]).iloc[:,2:].values
    prev1 = df.iloc[s,1:123].values
    prev2 = df.iloc[s,0:122].values
    
    x_train = np.vstack((x_train,prev1))
    x_train = np.vstack((x_train,prev2))
    
 
    
    lasso = Lasso()

    reg_best = Lasso(alpha = 0.3)
    reg_best.fit(x_train.T, y_train)
    matrix = reg_best.coef_
    ind = np.sort(np.argpartition(matrix, -5)[-5:])
    print("Feature number {} are the 5 most important predictor amongst all the features for {}".format(ind +1, req_location[s] ))
    
    y_test = np.array(test_df.iloc[s-1,2:].T)
    x_test = test_df.drop([s-1]).iloc[:,2:].values
    prev1 = test_df.iloc[s,1:123].values
    prev2 = test_df.iloc[s,0:122].values
    
    x_test = np.vstack((x_test,prev1))
    x_test = np.vstack((x_test,prev2))
    
    prediction = reg.predict(x_test.T)

    print('Mean squared error for {} is {} '.format(req_location[s],mean_squared_error(y_test, prediction , squared=True)))

Feature number [ 26  41 120 121 358] are the 5 most important predictor amongst all the features for Mumbai
Mean squared error for Mumbai is 2491.7167334854084
Feature number [117 119 120 121 157] are the 5 most important predictor amongst all the features for Delhi
Mean squared error for Delhi is 630.0957117102239
Feature number [120 121 122 298 358] are the 5 most important predictor amongst all the features for Kharagpur
Mean squared error for Kharagpur is 69.12278328703535

# Q5-Q6

In [10]:
#Importing the  train and test dataset
mat1 = loadmat('2010rainfall.mat')
df_X_train  = pd.DataFrame(mat1['XR1'])
df_y_train = pd.DataFrame(mat1['ZR1'])

mat2 = loadmat('2011rainfall.mat')
df_X_test = pd.DataFrame(mat2['XR'])
df_y_test = pd.DataFrame(mat2['ZR'])

X_train = df_X_train.iloc[:,:].values
X_train = X_train.T
y_train = df_y_train.iloc[:].values
y_train = y_train.T

X_test = df_X_test.iloc[:,:].values
X_test = X_test.T
y_test = df_y_test.iloc[:].values
y_test = y_test.T

In [11]:
#Applying decision tree algorithm on the training set
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion = 'entropy')
classifier.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy')

In [12]:
#Applying the decision tree algorithm on the test set
y_pred = classifier.predict(X_test)

In [13]:
#Computing the accuracy of predictions
count = 0
for i in range(len(y_test)):
    if y_pred[i] == y_test[i]:
        count += 1
print("Percentage accuracy: {}".format(count*100/len(y_test)))

Percentage accuracy: 71.31147540983606

In [14]:
#Retrieving the most important features
importances = classifier.feature_importances_
importances = [bit for bit in importances]
importances_max = importances
importances_max = sorted(importances_max, reverse = True)
importances_max = [bit for bit in importances_max if bit]
indices = [importances.index(element) for element in importances_max]
print(indices)

[159, 123, 216, 29, 264, 87, 350, 28]